<article class="content">
	<h1>Choose food:</h1>
<md-content class="searchRow">
	<md-autocomplete class="foodSelect"
  md-floating-label="Find food"
          md-selected-item="vm.selectedItem"
          md-search-text="vm.searchText"
          md-selected-item-change="vm.selectedItemChange(item)"
          md-items="item in vm.querySearch(vm.searchText)"
          md-min-length="3"
          placeholder="Find a food"
		  md-item-text="item.Name">
        <md-item-template>
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.Name}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{vm.searchText}}" were found.
          <!--<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>-->
        </md-not-found>
      </md-autocomplete>
      <md-input-container class="md-block amountSelect" flex-gt-sm>
            <label>Amount</label>
            <input ng-model="vm.amount" type="number"/>
     </md-input-container>

      <md-select ng-model="vm.selectedWeight" class="weightSelect">
            <md-option ng-repeat="weight in vm.weights" ng-value="weight">
              {{ weight.Description }} ( {{ weight.GramWeight }} g)
            </md-option>
          </md-select>


	  <md-list flex style="width:100%">
    <md-subheader class="md-no-sticky">Nutrients data (per {{ vm.selectedWeight.GramWeight }} g)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in vm.foodInfo.Nutrients" ng-click="null">
          
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.Name }}</h3>
			<h3 class="md-secondary">{{ item.Value * vm.getFactor() }} {{ item.Units }}</h3>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

</article>